#search {
  background-color: grey;
  padding: 20px;
  margin: 20px auto;
}

.page-selected {
  color: red;
}

.page-number {
  cursor: pointer;
}

#page-nums {
  display: inline-block;
}

.page-disabled {
  color: grey;
  cursor: default;
}

.page-button: {
  display: inline-block;
}

section#results {
  position:relative;
}

#results-table {
  border-collapse: collapse;
  empty-cells: show;
}

#results-table td, #results-table th {
  border: 1px solid #444;
  padding: 3px 5px;
  height: 20px;
  width: 150px;
}

#results-table td.result-name-cell {
  width: 240px;
}

.result-name {
  display: inline-block;
  width: 150px;
  cursor: pointer;
  text-decoration: underline;
}

.result-insider-badge {
  display: inline-block;
  width: 70px;
  height: 18px;
  background-color: orange;
  text-align:center;
  border-radius: 5px;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255, 0.9);
  width: 100%;
  height: 300px;
}

#showcase li {
  display: inline-block;
  background-color: lightgrey;
  width: 270px;
  height: 200px;
  margin: 20px;
  text-align: center;
  padding: 10px;
  
  position: relative;
}

.showcase-image {
  display: inline-block;
  width: 220px;
  height: 150px;
  
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 10px solid white;
}

#showcase ul {
  list-style: none;
}

.showcase-commission {
  display: block;
  position: absolute;
  bottom: 10px;
  top: auto;
  right: 0;
  left: 0;
}

.aff-status-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: lightgrey;
  border-radius: 100%;
}

.affiliatable {
  background-color: green;
}
