<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="merchantExplorer" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="merchantExplorer" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="merchantExplorer" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="merchantExplorer" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Merchant Explorer</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="explorer.css">
  
  <!-- Library Scripts -->
  <script src='lib/angular.js'></script>
  <script src='lib/ng-table.js'></script>
  
  <!-- My Scripts -->
  <script src='app.js'></script>
  <script src='search/search_controller.js'></script>
  <script src='search/search_factories.js'></script>
  <script src='results/results_controller.js'></script>
  <script src='shared/merchant_api.js'></script>
  <script src='shared/merchant_result_service.js'></script>
  <script src='shared/merchant_result_model.js'></script>
  <script src='search/search_filters.js'></script>
  <script src='showcase/showcase_service.js'></script>
  <script src='showcase/showcase_controller.js'></script>

  <!-- Okay this is super hacky, but substitute out the config file of your current env here :-( -->
  <script src='env/dev.js'></script>
   
</head>
<body>
  <section id='showcase' ng-controller='ShowcaseCtrl as showcase'>
    <ul>
      <li ng-repeat='merchant in showcase.getMerchants()'>
        <a href='#' class='showcase-image'
           ng-style="{'background-image':'url(' + merchant.img + ')'}"
           ng-class='{"no-comission": !merchant.commission}'>
           
           <span class='showcase-commission'>{{merchant.commission}}</span>
        </a>
      </li>
    <ul>
  </section>
  
  <section id='search' ng-controller='SearchCtrl as search'>
    <!-- <search-tabs></search-tabs> -->
    <div id='search-buttons'>
      <button ng-repeat='buttonName in search.tabs' ng-click='search.activateTab(buttonName)'>{{buttonName | titleize}}</button>
    </div>
    
    <form name='searchForm'>
      <!-- <search-input ng-show='{ search.isActive("search") }'> -->
      <div ng-show='search.isActive("search")'>
         <input type='text' name='searchPhrase' ng-model='search.searchParams.phrase'>
      </div>
      
      <!-- <search-filter ng-show='{ search.isActive("filter") }'> -->
      <div ng-show='search.isActive("filter")'>
        <select name='category' ng-model='search.filterParams.category' ng-options='category for category in search.categories'>
        </select>
        
        <select name='country' ng-model='search.filterParams.country' ng-options='country for country in search.countries'>
        </select>
        
        <select name='cpc' ng-model='search.filterParams.cpc' ng-options='cpc for cpc in search.cpc_cats'>
        </select>
      </div>
      
      <!-- <search-shared> -->
      <div>
        <label for='affiliatable'>Affiliates to Me</label>
        <input type='checkbox' id='affiliatable' name='affiliatable' ng-model='search.sharedParams.affiliatable'></input>
        <label for='insider'>Insider Only</label>
        <input type='checkbox' id='insider'      name='insider'      ng-model='search.sharedParams.insider'></input>
        <label for='unrestricted'>Unrestricted Only</label>
        <input type='checkbox' id='unrestricted' name='unrestricted' ng-model='search.sharedParams.unrestricted'></input>
      </div>
      
      <button ng-click='search.search()' ng-disabled="!search.isSearchable()">Search</button>

    <form>
    
  </section>
  
  <section id='results' ng-controller='ResultsCtrl as results'>
    <div id='loading' ng-show='results.isLoading()'>LOADING...</div>
    <table id='results-table'>
      <col class='col-name'>
      <col class='col-domain'>
      <col class='col-country'>
      <col class='col-cpc'>
      <col class='col-aff'>
      <col class='col-commission'>
      <thead>
        <tr>
          <th>Merchant Name</th>
          <th>Domain</th>
          <th>Country</th>
          <th>CPC/CPA</th>
          <th>Aff Status</th>
          <th>Commission</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='result in results.getCurrentPageData()'>
          <!-- A little hacky but lets the blank table display-->
          <td>{{result.name}}&nbsp;</td>
          <td>{{result.domain}}</td>
          <td>{{result.country}}</td>
          <td>{{result.cpc}}</td>
          <td>{{result.aff_status}}</td>
          <td>{{result.commission}}</td>
        </tr>
      </tbody>
    </table>
    
    <button class='page-button' ng-click='results.previousPage()'
            ng-disabled='!results.doShowPrevious()'>
      Previous
    </button>
    <div id='page-nums'>
      <a ng-show='results.doShowLeadingDots()' ng-click='results.setPage(1)' class='page-number'>1</a>
      <span ng-show='results.doShowLeadingDots()'>...</span>
      <a ng-repeat='pageNum in [results.currentPage() - 2, results.currentPage() - 1, results.currentPage(), results.currentPage() + 1, results.currentPage() + 2]'
         ng-show='(pageNum > 0) && (pageNum <= results.getTotalPages())'
         ng-click='results.setPage(pageNum)'
         ng-class='{ "page-selected": results.currentPage() === pageNum, "page-number": true, "page-disabled": !results.pageLoadable(pageNum) }'>
        {{pageNum}}
      </a>
      <span ng-show='results.doShowTrailingDots()'>...</span>
    </div>
    <button class='page-button' ng-click='results.nextPage()'
            ng-disabled='!results.doShowNext()'>
      Next
    </button>
  </section>
  
</body>
</html>


<!--Style Notes
1. $scope vs _ as _
2. Angular structure
3. ng-table default values
4. How to make private methods in controllers

 -->