#search {
  background-color: grey;
  padding: 20px;
  margin: 20px auto;
}

.page-selected {
  color: red;
}

.page-number {
  cursor: pointer;
}

.page-disabled {
  color: grey;
  cursor: default;
}