<div ng-controller='MerchantCtrl as merchant'>
  
  <section id='merchant-info'>
    <button ng-click='merchant.back()' class='back-button'>Back to Search</button>
    
    <div class='merchant-text'>
      <div class='merchant-name'>{{merchant.name}}</div>
      <div class='merchant-description'>{{merchant.description}}</div>
    </div>
    
    <div class='merchant-imgs'>
      <div class='insider-badge' ng-show='merchant.isInsider'>Insider</div>
      <img class='merchant-logo' alt='The logo of the merchant' ng-src='{{merchant.logoSrc}}'>
    </div>
  </section>
  
  <section id='merchant-group-info'>
    <div class='commissions'>
      <header>Commissions Offered</header>
      <ul class='commission-list'>
        <li ng-repeat='rate in merchant.rates'>{{rate}}</li>
      </ul>
    </div>
    
    <div class='countries'>
      <header>Accepts traffic from these countries:</header>
      <ul class='country-list'>
        <li ng-repeat='country in merchant.countries'>{{country}}</li>
      </ul>
    </div>
  </section>
  
  <section id='domains-info'>
    <table class='domain-info-table'>
      <thead>
        <tr>
          <th>Domain</th>
          <th>CPC / CPA</th>
          <th>Can I make money with this</th>
        </tr>
      </tead>
      <tbody>
        <tr ng-repeat='domain in merchant.domains'>
          <td>{{domain.domain}}</td>
          <td>{{domain.cpc}}</td>
          <td>{{domain.aff}}</td>
      </tbody>
    </table>
  </section>
  
</div>