<div ng-controller='MerchantCtrl as merchant'>
  <section ng-show=' merchant.isLoading ' id='loading-screen'>Loading....</section>
  
  <section id='merchant-info'>
    <button ng-click='merchant.back()' class='back-button'>Back to Search</button>
    
    <div class='merchant-text'>
      <div class='merchant-name'>{{merchant.selected.name}}</div>
      <div class='merchant-description'>{{merchant.selected.description}}</div>
    </div>
    
    <div class='merchant-imgs'>
      <div class='insider-badge' ng-show='merchant.isInsider()'>Insider</div>
      <img ng-show='merchant.hasImage()' class='merchant-logo' alt='The logo of the merchant' ng-src='{{merchant.logoSrc()}}'>
    </div>
  </section>
  
  <section id='merchant-group-info'>
    <div class='commissions'>
      <header>Commissions Offered</header>
      <ul class='commission-list'>
        <li ng-repeat='rate in merchant.buildCommissionRates()'>{{rate}}</li>
        <li ng-show='merchant.doShowCommissionPlaceholder()'>None Listed</li>
      </ul>
    </div>
    
    <div class='countries'>
      <header>Accepts traffic from these countries:</header>
      <ul class='country-list'>
        <li ng-repeat='country in merchant.selected.countries'>{{country}}</li>
        <li ng-show='merchant.doShowTrafficPlaceholder()'>None Listed</li>
      </ul>
    </div>
  </section>
  
  <section id='domains-info'>
    <table class='domain-info-table'>
      <thead>
        <tr>
          <th>Domain</th>
          <th>CPC / CPA</th>
          <th ng-show=' merchant.isSignedIn() '>Affiliates to Me?</th>
          <th ng-show=' !merchant.isSignedIn() '>Can I make money with this?</th>
        </tr>
      </tead>
      <tbody>
        <tr ng-repeat='domain in merchant.selected.domains'>
          <td>{{domain.name}}</td>
          <td>{{domain.coverage}}</td>
          <td ng-show=' merchant.isSignedIn() '>
            <span ng-show='merchant.isRefreshingAffStatus'>Loading</span>
            <div ng-show='!merchant.isRefreshingAffStatus && !merchant.isLoading' class='aff-status-circle'
                 ng-class='{ "affiliatable": merchant.selected.overallAffiliable }'>
            </div>
          </td>
          <td ng-show=' !merchant.isSignedIn() '>{{domain.restricted ? "Network Restricted" : "Yes!" }}
      </tbody>
    </table>
    
    <span class='aff-campaign-select' ng-show='merchant.isSignedIn()'>
      <label for='campaign'>Show Affiliability For:</label>
      <select name='campaign' id='campaign' ng-model='merchant.userId'
              ng-options='campaign[1] as campaign[0] for campaign in merchant.campaigns'
              ng-change='merchant.changeCampaign()'>
      </select>
    </span>
  </section>
  
</div>