#merchant-info, #merchant-group-info, #domains-info {
  width: 1000px;
  margin-left: 20px;
/*  background-color: darkgrey;*/
  margin-bottom: 10px;
  
}

#merchant-info > div, #merchant-group-info > div, #domains-info > table {
/*  background-color: lightgrey;*/
}

#loading-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 5;
}


#merchant-info {
  max-height: 500px;
  position: relative;
}

.merchant-text {
  display: inline-block;
  margin-top: 0;
  width: 600px;
  min-height: 220px;
  max-height: 500px;
  
  vertical-align: top;
}

.merchant-name {
  font-size: 36px;
  margin-bottom: 30px;
}

.merchant-description {
  
}

.merchant-imgs {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 200px;
  margin-left: 40px;
  
  vertical-align: top;
}

.insider-badge {
  position: absolute;
  top: 10px;
  
  text-align: center;
  line-height: 50px;
  
  margin-bottom: 40px;
  display: inline-block;
  width: 140px;
  height: 50px;
  background-color: yellow;
  
  border-radius: 20px;
}

.merchant-logo {
  position: absolute;
  top: 100px;
  
    border: 10px solid lightgrey;
   
  height: 55px;
  width: 240px;
}

/* Merchant group level section */

#merchant-group-info {
  margin-bottom: 20px;
}

#merchant-group-info > div {
  border: 1px solid black;
  padding: 5px;
  min-height: 50px;
}

.commissions {
  display: inline-block;
  width: 450px;
}



.countries {
  display: inline-block;
  width: 450px;
  margin-left: 50px;
}




/* Domains table section */

#domains-info {
}

.domain-info-table td, .domain-info-table th {
  border: 1px solid #444;
  padding: 3px 5px;
  height: 20px;
  min-width: 150px;
  text-align: center;
}

.domain-info-table {
  border-collapse: collapse;
  empty-cells: show;
}


/* Other stuff */

.back-button {
  position: absolute;
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  vertical-align: center;
  background-color: red;
  
  margin: 0;
  padding: 0;
  
  top: 0;
  right: 0;
  
  z-index: 2;
}